{% extends "base.html" %}
{% load static i18n %}
{% block title %}{% trans 'Account settings' %}{% endblock %}
{% block head %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.14.0-beta2/css/bootstrap-select.min.css" integrity="sha512-mR/b5Y7FRsKqrYZou7uysnOdCIJib/7r5QeJMFvLNHNhtye3xJp1TdJVPLtetkukFn227nKpXD9OjUc09lx97Q==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.14.0-beta2/js/bootstrap-select.min.js" integrity="sha512-FHZVRMUW9FsXobt+ONiix6Z0tIkxvQfxtCSirkKc5Sb4TKHmqq1dZa8DphF0XqKb3ldLu/wgMa8mT6uXiLlRlw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock %}
{% block content %}
  <div class="container my-border my-round mb-5">
    <div class="row">
      <h2 class="text-center mt-3">{% trans 'Account settings' %}</h2>
      <form class="body-form mb-4" method="post">
        {% csrf_token %}
        {% if form.errors %}
        <div class="alert alert-primary h6" role="alert">
          {{ form.errors }}
        </div>
        {% endif %}
        {{ form.as_p }}
        <button type="submit" class="w-100 btn btn-primary mb-3">{% trans 'SUBMIT' %}</button>
        <a href="{% url 'accounts:logout' %}" class="w-100 btn btn-danger mb-3">{% trans 'LOGOUT' %}</a>
        <a href="{% url 'accounts:password-reset' %}" class="h5 text-decoration-none ms-2">{% trans 'Forgot your password? Get an email' %}</a>
      </form>
    </div>
  </div>
{% endblock %}