{% extends "base.html" %}
{% load static i18n %}
{% block title %}{% trans 'Communication' %}{% endblock %}
{% block head %}
  <link rel="stylesheet" href="{% static 'chat/css/index.css' %}">
{% endblock %}
{% block content %}
  <div class="container">
     <div id="chat-row" class="row body-form no-gutters rounded-4">
      <div class="col-4 threads-body p-0">
        <div id="users-container">
          {% for thread in threads %}
            <h5 class="py-2 ps-1 mb-0 text-break">
              <a href="{% url 'chat:thread' thread.uuid %}" class="text-decoration-none text-break mb-0">
                {{ thread.username }}
                {% if thread.new_messages %}<span class="new-message h6">({{ thread.new_messages }})</span>{% endif %}
              </a>
            </h5>
          {% endfor %}
        </div>
      </div>
      <div class="col-8 chat-body ps-0 pe-0">
        <div id="selected-user" class="py-2">
          <p class="mb-1 px-2">
            <span class="fw-bold text-break">{% trans 'Main Page' %}</span>
          </p>
        </div>
        <div id="messages-body" class="d-flex justify-content-center pt-5">
          <h3>{% trans 'Choose the thread' %}</h3>
        </div>
      </div>
    </div>
  </div>
{% endblock %}