{% extends "base.html" %}
{% load static i18n %}
{% block title %}{% trans 'Communication' %}{% endblock %}
{% block head %}
  <link rel="stylesheet" href="{% static 'chat/css/index.css' %}">
  <script src="{% static 'chat/js/readonly_thread.js' %}"></script>
{% endblock %}
{% block content %}
  <div class="container">
    <div id="chat-row" class="row body-form no-gutters rounded-4">
      <div class="col-4 threads-body p-0">
        <div id="users-container">
          <h5 id="buddy-username" class="py-2 ps-1 mb-0 text-break">
            <span class="text-primary text-decoration-none text-break mb-0">
              {{ buddy.username }}
            </span>
          </h5>
          {% for thread in threads %}
            <h5 class="py-2 ps-1 mb-0 text-break">
              <a href="{% url 'chat:thread' thread.uuid %}" class="text-decoration-none text-break mb-0">
                {{ thread.username }}
                {% if thread.new_messages %}<span class="new-message h6">({{ thread.new_messages }})</span>{% endif %}
              </a>
            </h5>
          {% endfor %}
        </div>
      </div>
      <div class="col-8 chat-body ps-0 pe-0">
        <input type="hidden" id="own_pk" value="{{ request.user.pk }}">
        <input type="hidden" id="buddy_pk" value="{{ buddy.pk }}">
        <div id="selected-user" class="py-2">
          <p class="mb-1 px-2">
            <a href="{% url 'accounts:account-detail' buddy.pk  %}" class="fw-bold text-break text-decoration-none">{{ buddy.username }}</a>
          </p>
        </div>
        <div id="messages-body" class="p-1">
          <div class="text-center my-2 text-break border">
            <span>
              <span class="fw-bold">{{ current_thread.candidate.username }}</span>
              {% trans 'accepted to' %}
              <a href="{% url 'posts:activity-detail' current_thread.activity.pk %}" class="text-decoration-none">{% trans 'activity' %}</a>
              <br>
              <small class="mb-0 text-secondary">{{ current_thread.created_at }}</small>
            </span>
          </div>
          {% for message in current_messages %}
            {% if message.owner == request.user %}
              <div class="own-message text-dark text-break">
                {{ message.message }}<br>
                <small class="mb-0 text-secondary">{{ message.created_at }}</small>
              </div>
            {% else %}
              <div class="buddy-message text-dark text-break">
                {{ message.message }}<br>
                <small class="mb-0 text-secondary">{{ message.created_at }}</small>
              </div>
            {% endif %}
          {% endfor %}
          <div id="readonly" class="text-center my-2 text-break border">
            <span>
              {% trans 'Switched to readonly mode' %}<br>
              <small class="mb-0 text-secondary">{{ current_thread.updated_at }}</small>
            </span>
          </div>
        </div>
        <div class="form-group my-2 px-1">
          <div id="send-message-form">
            <div class="input-group">
              <input type="text" id="input-message" required class="form-control type_msg rounded" placeholder="{% trans 'Message' %}" maxlength="2048">
              <div class="input-group-append">
                <button id="submit-message" class="btn btn-primary" type="submit">
                  <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512">
                    <path fill="white" d="M498.1 5.6c10.1 7 15.4 19.1 13.5 31.2l-64 416c-1.5 9.7-7.4 18.2-16 23s-18.9 5.4-28 1.6L284 427.7l-68.5 74.1c-8.9 9.7-22.9 12.9-35.2 8.1S160 493.2 160 480V396.4c0-4 1.5-7.8 4.2-10.7L331.8 202.8c5.8-6.3 5.6-16-.4-22s-15.7-6.4-22-.7L106 360.8 17.7 316.6C7.1 311.3 .3 300.7 0 288.9s5.9-22.8 16.1-28.7l448-256c10.7-6.1 23.9-5.5 34 1.4z"/>
                  </svg>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}