#content-div {
  height: 100%;
}

.selectpicker {
  background: #FFF;
  color: #000;
}

#custom-container {
  height: 100%;
  display: flex;
  justify-content: center;
}

#custom-flex {
  width: 60%;
}